html {
    background-color:Gold;
}
p {
    color:red;
}
img {
    width:500px;
    padding:20px;
    border:10px groove red;
}
h1, h2, h3, h4, h5 {
 font-family: 'Charmonman', cursive;
 color:white;
}
p {
   font-family: 'Courgette', cursive; 
}
